<div id="footer" class="bg-dark text-light text-center small py-3">
  <small class="my-1">
    <a href="https://lumotray.com/privacy.html" rel="nofollow" title="Privacy Policy">Privacy</a>
    &middot;
    <a href="https://lumotray.com/tos.html" rel="nofollow" title="Terms of Service">TOS</a>
    &middot;
    <a href="https://lumotray.com/eula.html" rel="nofollow" title="End User License Agreement">EULA</a>
    &middot;
    <a href="mailto:hello@lumotray.com" title="Questions? Bugs? E-Mail here!" rel="nofollow" target="_blank">Contact E-Mail</a>
    &middot;
    <a href="https://twitter.com/LumoTray" title="Visit LumoTray on Twitter" rel="nofollow" target="_blank">Twitter</a>
    <br>
    Copyright &copy; {{ site.time | date: '%Y' }} <a href="https://lumotray.com/">LumoTray</a>
  </small>
</div>
