<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% seo %}
<link rel="preload" href="https://lumotray.com/assets/fonts/russo-one-v14-latin-regular.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="https://lumotray.com/assets/fonts/russo-one-v14-latin-regular.woff" as="font" type="font/woff" crossorigin>
<link rel="stylesheet" href="https://lumotray.com/assets/css/bs-home.min.css">
<link rel="stylesheet" href="{{ '/assets/main.css' | relative_url }}">
{% feed_meta %}
